
    .Head{
        position: absolute;
        width: 1170px;
        height: 100px;
        left: 385px;
        top: 0px;
    }

    .Head .Logo img{
        position: absolute;
        width: 71.01px;
        height: 70px;
        top: 15px;
        background: white;
    }

    .Head .Menu{
        position: absolute;
        height: 19px;
        left: 67.86%;
        right: 1.11%;
        top:30px;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
    }
    .Head .Menu .item1{
        color: green;
    }
    .Head .Menu .item2{
        position:absolute;
        top: 0px;
        left: 18%;
    }
    .Head .Menu .item3{
        position:absolute;
        top:0px;
        left:43%; 
    }
    .Head .Menu .item4{
        position: absolute;
        top:0px;
        left: 63%
    }
    .Head .Menu .item5{
        position:absolute;
        top:0px;
        left:75%;
    }

    .container{
        position: absolute;
        width: 1920px;
        height: 700px;
        left: 0px;
        top: 100px;
        background: url(images/comp.jpg);
    }

    .container .Text{
        position: absolute;
        height: 100px;
        left: 19.53%;
        right: 51.3%;
        top: 400px;
        font-family: Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
        color:white;
    }

    .container .Text h6{
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
    }
    .container .Text .little{
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
    }

    .Posts{
        position: absolute;
        width: 770px;
        height: 852px;
        left: 375px;
        top: 878px;
    }
    .Posts h6{
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #C9A96E;
    }
    .Posts .Post1 {
        position: absolute;
        width: 370px;
        height: 411px;
        left: 0px;
        top: 441px;
        border-style: solid;
        border-width: 1px;
        border-color:gray;
        
    }
    .Posts .Post1 h6{
        position:absolute;
        left: 0%;
        right: 0%;
        top: 270px;
        bottom: 13.5%;
        text-align: center;
        background: #FFFFFF;
    }

    .Posts .Post1 p{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 300px;
        bottom: 13.5%;
        text-align: center;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #171717;
    }
    .Posts .Post1 .little{
        position: absolute;
        height: 16px;
        left: 0%;
        right: 0%;
        top: 350px;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #666666;
    }
    .Posts .Post1 img{
        position: absolute;
        width: 370px;
        height: 280px;
    }

    .Posts .Post2 {
        position: absolute;
        width: 370px;
        height: 411px;
        left: 0px;
        top: 0px;
        border:gray solid 1px;
    }

    .Posts .Post2 img{
        position: absolute;
        width: 370px;
        height: 280px;
        left: 0px;
        top: 0px;


    }
    .Posts .Post2 p{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 300px;
        bottom: 13.5%;
        text-align: center;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #171717;
    }
    .Posts .Post2 h6{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 270px;
        text-align: center;
    }
    .Posts .Post2 .little{
        position: absolute;
        height: 16px;
        left: 0%;
        right: 0%;
        top: 350px;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #666666;
    }

    .Posts .Post3 {
        position: absolute;
        width: 370px;
        height: 411px;
        left: 399px;
        top: 441px;
        border: 1px gray solid;
    }
    .Posts .Post3 h6{
        position: absolute;
        height: 56px;
        left: 0%;
        right: 0%;
        top: 270px;
        text-align: center;
    }

    .Posts .Post3 img{
        position: absolute;
        width: 370px;
        height: 280px;
    }
    .Posts .Post3 p{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 300px;
        bottom: 13.5%;
        text-align: center;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #171717;
    }
    .Posts .Post3 .little{
        position: absolute;
        height: 16px;
        left: 0%;
        right: 0%;
        top: 350px;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #666666;
    }
    .Posts .Post4 {
        position: absolute;
        width: 370px;
        height: 411px;
        left: 399px;
        top: 0px;
        border: gray solid 1px;
    }
    .Posts .Post4 h6{
        position: absolute;
        height: 56px;
        left: 0%;
        right: 0%;
        top: 270px;
        text-align: center;
    }
    .Posts .Post4 p{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 300px;
        bottom: 13.5%;
        text-align: center;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #171717;
    }
    .Posts .Post4 .little{
        position: absolute;
        height: 16px;
        left: 0%;
        right: 0%;
        top: 350px;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #666666;
    }
    .Posts .Post4 img{
        position: absolute;
        width: 370px;
        height: 280px;
    }
    .right{
        position: absolute;
        width: 370px;   
        height: 541px;
        left: 1175px;
        top: 878px;
    }
    .right .Categories{
        position: absolute;
        width: 370px;
        height: 280px;
        left: 0px;
        top: 0px;
    }
    .right .Categories .title{
        position: absolute;
        height: 30px;
        left: 0%;
        right: 0%;
        top:0%;
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 0px;
        text-align: center;
        color: #171717;
        border:1px grey solid;
    }
    .right .Categories .Categoriaum{
        position: absolute;
        width: 100%;
        border-bottom: 1px gray solid;
        top: 10%;
    }
    .right .Categories .Categoria2{
        position: absolute;
        width: 100%;
        border-bottom: 1px gray solid;
        top:30%;
    }
    .right .Categories .Categoria3{
        position: absolute;
        width: 100%;
        border-bottom: 1px gray solid;
        top:50%;
    }
    .right .Categories .Categoria4{
        position: absolute;
        width: 100%;
        border-bottom: 1px gray solid;
        top:70%;
    }
    .right .Categories .Categoria5{
        position: absolute;
        width: 100%;
        border-bottom: 1px gray solid;
        top:90%;
    }
    .right .Tags {
        position: absolute;
        width: 100%;   
        height: 261px;
        left: 0px;
        top: 350px;
    }
    .right .Tags .Title{
        position: absolute;
        height: 30px;
        left: 0%;
        right: 0%;
        top:0%;
        border:1px grey solid;
    }
    .right .Tags p{
        font-family: Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 0px;
        text-align: center;

        color: #171717;
    }
    .right .Tags .Tag1{
        position: absolute;
        left: 0%;
        right: 68.89%;
        top: 31.82%;
        bottom: 54.55%;
        background: #F8F9FA;
    }
    .right .Tags .Tag2{
        position: absolute;
        left: 34.81%;
        right: 31.48%;
        top: 31.82%;
        bottom: 54.55%;
        background: #F8F9FA;
    }
    .right .Tags .Tag3{
        position: absolute;
        left: 72.22%;
        right: 1.11%;
        top: 31.82%;
        bottom: 54.55%;
        background: #F8F9FA;
    }
    .right .Tags .Tag4{
        position: absolute;
        left: 0%;
        right: 62.96%;
        top: 50%;
        bottom: 36.36%;
        background: #F8F9FA;
    }
    .right .Tags .Tag5{
        position: absolute;
        left: 40.74%;
        right: 28.89%;
        top: 50%;
        bottom: 36.36%;
        background: #F8F9FA;        
    }
    .right .Tags .Tag6{
        position: absolute;
        left: 74.81%;
        right: 3.7%;
        top: 50%;
        bottom: 36.36%;
        background: #F8F9FA;
    }
    .right .Tags .Tag7{
        position: absolute;
        left: 0%;
        right: 63.7%;
        top: 68.18%;
        bottom: 18.18%;
        background: #F8F9FA;
    }
    .right .Tags .Tag8{
        position: absolute;
        left: 40%;
        right: 25.56%;
        top: 68.18%;
        bottom: 18.18%;
        background: #F8F9FA;
    }
    .right .Tags .Tag9{
        position: absolute;
        left: 78.15%;
        right: 3.7%;
        top: 68.18%;
        bottom: 18.18%;
        background: #F8F9FA;
    }
